
{% block head %}
<link rel="stylesheet" href="../static/css/sign.css">
{% endblock %}

{% block body %}
<img src="../static/images/logo-black.gif" alt="">
<h1>Sign Up to HomeTrack</h1>

<form action="/signup" method="post">
    <label for="name">Name</label><br>
    <input type="text" name="name" required value="{{form_data.name}}"><br>
    <label for="email">Email</label><br>
    <input type="email" name="email" required value="{{form_data.email}}"><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" required value="{{form_data.password}}"><br>
    <label for="confirm">Confirm Password</label><br>
    <input type="password" name="confirm" required value="{{form_data.confirm}}"><br>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    <button>Sign Up</button>
</form>
<nav class="nav-bottom">
    <a class="demoProfile-link" href="/demoProfile">הדגם לי את האפליקצייה</a>
    <p>You known to HomeTrack? <a href="/signin">Connect hear</a></p>
</nav>

{% endblock %}